<div class="dashboard">
  <h1>Välkommen till SPIIK Inventariehanterare</h1>
  <p class="lead">Inloggad som <strong><%= user.email %></strong></p>
  <p class="lead"><a href="/products">Gå till produkter</a></p>
</div>
